body{
    display: flex;
    justify-content: center;
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.container{
    margin: 100px 0 0 ;
    width: 456px;
    height: 428px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.boton{
    display: flex;
    justify-content: space-around;
}

.container img{
    margin-top: 15%;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
}

.btn{
    margin: 5% 0;
    border-radius: 15px;
    border: 1px solid #151A41;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     cursor: pointer;
    padding: 2% 5%;
}

.btn a{
    text-decoration: none;
    color: black;
}

/* mediaqueries */
@media (max-width:540px){
    .container{
        width: 436px;
        height: 408px;
    }
}